@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(img/topback.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  color: #FFFFFF;
  max-width: 792px;
}
.top__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #FFFFFF;
  font-weight: 400;
}
.top__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration-line: underline;
  text-align: left;
}
.top__link:hover {
  color: rgb(136, 136, 136);
  text-decoration-line: none;
}

.header {
  height: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #FFFFFF;
}
.header__input {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  font: inherit;
}
.header__input::-moz-placeholder {
  color: #FFFFFF;
}
.header__input::placeholder {
  color: #FFFFFF;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu__link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.menu__link:hover {
  text-decoration: underline;
}

.header__menu-mobile {
  display: none;
}

.basket-box {
  display: flex;
  flex-direction: column;
}
.basket-box .basket-button-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}
.basket-box .basket-link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}
.basket-box .basket-link:hover {
  text-decoration: underline;
}
.basket-box .basket-form {
  position: absolute;
  top: calc(100% + 14px);
  align-items: flex-start;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
  width: 573px;
  height: 480px;
}
.basket-box .basket-form__content-wrapper {
  padding: 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.basket-box .basket-form__content-wrapper:nth-of-type(2) {
  gap: 0;
}
.basket-box .basket-form__item {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #cacdd8;
  justify-content: space-between;
}
.basket-box .basket-form__item:nth-child(2) {
  border-bottom: none;
  padding-bottom: 0;
}
.basket-box .basket-form__left {
  display: flex;
  flex-direction: row;
}
.basket-box .basket-form__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 24px;
}
.basket-box .basket-form__info-subtitle {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.basket-box .basket-form__info-price {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 12px 0px;
}
.basket-box .basket-form__link-box {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.basket-box .basket-form__link {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
}
.basket-box .basket-form__link:hover {
  color: #888888;
  text-decoration-line: none;
}
.basket-box .basket-form__number {
  border-radius: 6px;
  background: #f7f6f6;
  width: 71px;
  height: 51px;
  border: #FFFFFF;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.basket-box .basket-form__price-wrapper {
  display: flex;
  justify-content: space-between;
}
.basket-box .basket-form__text {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
}
.basket-box .basket-form__text-bold {
  font-weight: 500;
}
.basket-box .basket-form__button {
  box-sizing: border-box;
  border-radius: 20px;
  width: 207px;
  height: 40px;
  font: inherit;
  color: #000000;
  font-size: 16px;
  border: 1px solid rgb(4, 4, 4);
  background-color: #FFFFFF;
}
.basket-box .basket-form__button:hover {
  background: #000000;
  color: #FFFFFF;
}

.for-box {
  padding-top: 64px;
}
.for-box__heading {
  color: #000000;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 32px;
}
.for__item {
  height: 415px;
  grid-column: span 4;
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for__item_big {
  grid-column: span 6;
}
.for__item_1 {
  background-image: url(img/for-1.jpeg);
}
.for__item_2 {
  background-image: url(img/for-2.jpeg);
}
.for__item_3 {
  background-image: url(img/for-3.jpeg);
}
.for__item_4 {
  background-image: url(img/for-4.jpeg);
}
.for__item_5 {
  background-image: url(img/for-5.jpeg);
}

.product-box {
  padding-top: 64px;
}
.product-box__offer {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.product-content {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 32px;
       column-gap: 32px;
  flex-wrap: wrap;
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
  position: relative;
}
.product__img {
  width: 100%;
}
.product__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 9px;
}
.product__box-price {
  display: flex;
  gap: 32px;
}
.product__desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}
.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}
.product__price_old {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.link-box {
  height: 24px;
  padding-bottom: 64px;
  padding-top: 32px;
}
.link-box__catalog {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
.link-box__catalog:hover {
  color: rgb(136, 136, 136);
  text-decoration-line: none;
}

.footer {
  background: #f7f6f6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__info {
  display: flex;
  gap: 129px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.footer__menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.footer__contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}
.footer__contact-link:hover {
  text-decoration: underline;
}
.footer__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer a svg:hover #Vector1 {
  fill: #111;
}
.footer a svg:hover #Vector2 {
  fill: #111;
}
.footer a svg:hover #Vector3 {
  fill: #111;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__text {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 4px;
}
.form__input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 16px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
  font: inherit;
  width: 260px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.form__input::-moz-placeholder {
  color: #C4C4C4;
}
.form__input::placeholder {
  color: #C4C4C4;
}
.form__btn {
  height: 40px;
  border-radius: 16px;
  background: rgba(223, 216, 216, 0.4117647059);
  border: 1px solid rgba(222, 215, 215, 0.4117647059);
  box-sizing: border-box;
  width: 260px;
  color: #000000;
  font: inherit;
}
.form__btn {
  line-height: 15px;
  font-weight: 400;
  font-size: 12px;
}
.form__btn:hover {
  background: #000000;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.top-cart {
  height: 400px;
  background-image: url(img/top-cart.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-cart__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__content {
  grid-column: span 8;
}
.cart__name-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 14px;
  justify-content: space-between;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 0.5px solid #cacdd8;
  padding-top: 25px;
  padding-bottom: 32px;
}
.cart__left {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.cart__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  width: 276px;
}
.cart__info-subtitle {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.cart__info-desc {
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.cart__info-price {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__link {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
  line-height: 210%;
}
.cart__link:hover {
  color: #888888;
  text-decoration-line: none;
}
.cart__number {
  border-radius: 6px;
  background: #f7f6f6;
  width: 71px;
  height: 51px;
  border: #FFFFFF;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
}
.cart input[type=number]::-webkit-inner-spin-button,
.cart input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart input[type=number] {
  -moz-appearance: textfield;
}
.cart__button {
  display: flex;
  gap: 7px;
  justify-content: flex-start;
}
.cart__button-btn {
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 200px;
  height: 37px;
  color: #000000;
  background: #FFFFFF;
  font: inherit;
  text-align: center;
  text-decoration: none;
}
.cart__button-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cart__button-btn:hover {
  background: #000000;
  color: #FFFFFF;
}
.cart__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  height: 556px;
  border-radius: 20px;
  background: #f7f6f6;
  grid-column: span 4;
}
.cart__form-subtitle {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  padding-top: 42px;
  padding-bottom: 32px;
}
.cart__input {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-left: 27px;
}
.cart__input-text {
  border: none;
  background: #f7f6f6;
  border-bottom: 1px solid rgb(202, 205, 216);
  width: 288px;
  font: inherit;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.cart__form-price {
  padding-top: 64px;
  padding-bottom: 18px;
}
.cart__text {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.cart__price {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.cart-cont {
  display: flex;
  justify-content: center;
}
.cart__form-button {
  box-sizing: border-box;
  border: 1px solid #040404;
  border-radius: 20px;
  width: 290px;
  height: 41px;
  font: inherit;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.cart__form-button:hover {
  background: #000000;
  color: #FFFFFF;
}

.link-box-corzina {
  margin-top: 32px;
  margin-bottom: 65px;
}
.link-box-corzina__text {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  margin-top: 32px;
}
.link-box-corzina__text:hover {
  color: #888888;
  text-decoration-line: none;
}

.top-catalog {
  height: 400px;
  background-image: url(img/top-catalog.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-catalog__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 127px;
  margin-bottom: 126px;
  color: #FFFFFF;
}

.breadcrumbs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 61px;
  justify-content: space-between;
  align-items: baseline;
}
.breadcrumbs-wrapper .breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 3px;
}
.breadcrumbs-wrapper .breadcrumbs__link {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
  padding-top: 3px;
}
.breadcrumbs-wrapper .breadcrumbs__link:hover {
  color: #888888;
}

.options__popularity {
  font-family: inherit;
  width: 227px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 23px;
  padding-right: 23px;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 22px) 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.product-content-catalog {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 49px;
  flex-wrap: wrap;
}
.product-content-catalog .product {
  position: relative;
  width: 378px;
}
.product-content-catalog .product__img {
  width: 100%;
}
.product-content-catalog .product__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 9px;
}
.product-content-catalog .product__desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}
.product-content-catalog .product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product:hover .icon {
  display: flex;
  gap: 23px;
  padding-left: 300px;
  padding-right: 12px;
  top: 10px;
}

.icon {
  position: absolute;
  display: none;
}

.filter-box {
  display: flex;
  padding-bottom: 40px;
  justify-content: flex-end;
  gap: 10px;
}
.filter-box__button-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  border: 1px solid #000;
  border-radius: 20px;
  min-height: 40px;
  font: inherit;
  cursor: pointer;
  background-color: #fff;
  width: 182px;
  height: 40px;
  border: 1px solid #000000;
}

.button:hover {
  background: #000000;
  color: #FFFFFF;
}

.filter-button {
  display: inline-block;
  font: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding-left: 23px;
  padding-right: 55px;
  height: 41px;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.filter-button {
  font-weight: 500;
  width: 182px;
  padding-right: 54px;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}

.filtering-form {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
  z-index: 1;
  width: 445px;
}
.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 45px;
  max-height: 548px;
}
.filtering-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  border: none;
}
.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.filtering-form__button {
  align-self: flex-end;
  max-width: 190px;
  width: 100%;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.radio__input {
  display: none;
}
.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.radio__input:checked + .radio__label::before {
  border-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}
.range__input, .range__input::-webkit-slider-runnable-track, .range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}
.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}
.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}
.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}
.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}
.range__slider input {
  position: absolute;
}
.range__label {
  font-size: 14px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}
.color-options__checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox__input {
  display: none;
}
.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.checkbox__input:checked + .checkbox__label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}
.checkbox__label_white::before {
  background-color: #fff;
  border-color: #808080;
}
.checkbox__label_black::before {
  background-color: #000;
  border-color: #000;
}
.checkbox__label_gray::before {
  background-color: #737373;
  border-color: #737373;
}
.checkbox__label_red::before {
  background-color: #f00;
  border-color: #f00;
}
.checkbox__label_orange::before {
  background-color: #ff4500;
  border-color: #ff4500;
}
.checkbox__label_yellow::before {
  background-color: #ff0;
  border-color: #ff0;
}
.checkbox__label_green::before {
  background-color: #008000;
  border-color: #008000;
}
.checkbox__label_teal::before {
  background-color: #40e0d0;
  border-color: #40e0d0;
}
.checkbox__label_light-blue::before {
  background-color: #009fe3;
  border-color: #009fe3;
}
.checkbox__label_blue::before {
  background-color: #00f;
  border-color: #00f;
}
.checkbox__label_purple::before {
  background-color: #800080;
  border-color: #800080;
}
.checkbox__label_violet::before {
  background-color: #8a2be2;
  border-color: #8a2be2;
}
.checkbox__label_lavender::before {
  background-color: #d89aff;
  border-color: #d89aff;
}
.checkbox__label_pink::before {
  background-color: #ff1493;
  border-color: #ff1493;
}
.checkbox__input:checked + .checkbox__label_black::before, .checkbox__input:checked + .checkbox__label_blue::before, .checkbox__input:checked + .checkbox__label_purple::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='white'/%3E%3C/svg%3E%0A");
}

/* Планшетная версия главной страницы*/
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .footer__logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}
/* Планшетная версия каталога*/
@media (max-width: 1024px) {
  .product-content-catalog {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 30px;
  }
  .filtering-form {
    right: -237px;
  }
}
/* Планшетная версия корзины*/
@media (max-width: 1024px) {
  .cart {
    grid-template-columns: repeat(8, 1fr);
  }
  .cart__form {
    grid-column: span 4;
  }
}
/*   Мобильная версия главной страницы*/
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
  }
  .header__input {
    display: none;
  }
  .header__logo {
    width: 99px;
    height: 22px;
  }
  .header__menu-mobile {
    display: block;
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .menu {
    display: none;
  }
  .top__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 0;
  }
  .top__text {
    font-size: 16px;
    text-align: center;
  }
  .top__link {
    font-size: 14px;
    text-align: center;
    display: block;
  }
  .for-box {
    padding-top: 32px;
  }
  .for-box__heading {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .product-box {
    padding-top: 32px;
  }
  .product-box__offer {
    font-size: 24px;
    line-height: 29px;
  }
  .product-content {
    row-gap: 32px;
  }
  .product {
    width: 343px;
    position: relative;
  }
  .product__name {
    font-size: 18px;
    line-height: 22px;
    margin-top: 9px;
    margin-bottom: 10px;
  }
  .product__desc {
    margin-bottom: 8px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .product:hover .icon {
    padding-left: 270px;
  }
  .link-box {
    padding-bottom: 32px;
    padding-top: 4px;
  }
  .footer__content {
    justify-content: center;
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
  .footer__info {
    padding-bottom: 71px;
  }
}
/*   Мобильная версия каталога*/
@media (max-width: 767px) {
  .top-catalog__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 170px;
  }
  .breadcrumbs-wrapper {
    padding-top: 32px;
  }
  .breadcrumbs {
    margin-bottom: 14px;
  }
  .filter-box {
    flex-direction: row;
    padding-left: 0;
    padding-bottom: 32px;
  }
  .filter-box__button-wrapper {
    justify-content: flex-start;
    order: 2;
  }
  .filtering-form {
    right: -80px;
    width: auto;
  }
  .filtering-form__content-wrapper {
    flex-wrap: nowrap;
    max-height: 910px;
  }
  .product-content-catalog {
    row-gap: 33px;
  }
  .options {
    display: flex;
    order: 1;
  }
  .product__name {
    font-size: 18px;
    line-height: 22px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 710px) {
  .filter-box {
    flex-direction: column;
  }
  .breadcrumbs-wrapper {
    flex-direction: column;
  }
}
@media (min-width: 710px) and (max-width: 767px) {
  .filtering-form {
    right: 0px;
    width: 445px;
  }
  .filtering-form__content-wrapper {
    max-height: 548px;
    flex-wrap: wrap;
  }
}
/*   Мобильная версия корзины*/
@media (max-width: 767px) {
  .top-cart__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 82px;
  }
  .cart {
    grid-template-columns: repeat(4, 1fr);
  }
  .cart__name-box {
    display: none;
  }
  .cart__img {
    display: none;
  }
  .cart__info-subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .cart__info-desc {
    width: 253px;
  }
  .cart__info-price {
    font-size: 12px;
    line-height: 15px;
    text-align: left;
  }
  .cart__button {
    gap: 14px;
  }
  .cart__button-btn {
    font-size: 12px;
    line-height: 15px;
  }
  .cart__form {
    grid-column: span 8;
  }
  .cart__input {
    padding-left: 11px;
    padding-right: 12px;
  }
  .cart__form-button {
    margin-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */